.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15vh 20px;
}
.main-content img {
    width: 300px;
    margin-right: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}
.main-content .text {
    max-width: 600px;
    text-align: justify;
}